<div class="flex-column align-content-center text-center">
    <div><a href="wellpassport"><img src="assets/Well2.png"/></a></div>
    <div><a href="welltest"><img src="assets/WellSurveys.png"/></a></div> 
    <div><a href="report">МЭР</a></div>
    <div><a href="pressurecalculation"><img src="assets/HG1.png"/></a></div> 
</div>